body {
	font-family: 'Montserrat';
	color: #AE7C78;
	text-decoration: none;
	
}

 section.menu a{
	color: #AE7C78;
}
section.menu {
border: 1px #AE7C78;
	list-style: none;
	padding: 0 5px;
	margin-right: 5px;
	display: flex;
	font-family: Montserrat;
	flex-direction: row;
	justify-content: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color:#537CBC;
	color: #AE7C78;
	
}

section.menu ul{
	display: flex;
}
section.menu li{
	padding: 10px;
}


section.menu a{
	display: flex;
	text-decoration: none;
}
li{
	list-style-type: none; 
}


h1{ 

position: absolute;
width: 384px;
height: 118px;
left: 120px;
top: 171px;
font-style: normal;
font-weight: normal;
font-size: 44px;
line-height: 59px;
color: #AE7C78;

}
.title img1{
	position: absolute;
width: 386px;
height: 404px;
left: 527px;
top: 230px;
border-radius: 10px;
}
.title img2{
	position: absolute;
width: 387px;
height: 420px;
left: 933px;
top: 172px;
border-radius: 10px;
}


